platform:
    - x86
    - x64

configuration:
    - Debug
    - Release

init:
- call "C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\vcvarsall.bat" %platform%

build_script:
    - mkdir build
    - cd build
    - cmake ../wotlk-core/cmake
    - nmake EasyWoW.sln