branches:
  only:
    - master

os: Windows Server 2012

clone_folder: c:\projects\EasyWoW

matrix:
  fast_finish: true

#platform:
#    - x86
#    - x64

#configuration:
#    - Debug
#    - Release

before_build:
    - mkdir build
    - cd build
    - cmake --version
    - ../cmake -DBUILD_LUAENGINE=1

build:
    parallel: true
    project: c:\projects\EasyWoW\build\EasyWoW.sln
