branches:
  only:
    - master

os: Windows Server 2012

platform:
    - x86
    - x64

configuration:
    - Debug
    - Release

init:
    - call "C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\Tools\VsDevCmd.bat"

build_script:
    - cd ..
    - mkdir build
    - cd build
    - cmake ../wotlk-core/cmake -DBUILD_LUAENGINE=1 
    - msbuild EasyWoW.sln /p:Configuration=%CONFIGURATION% /p:Platform=%PLATFORM%